.column {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.About {
  width: 100%;
  height: 35rem;
  display: flex;
  border: solid 1px red;
  background-color: rgb(250, 250, 250);
}
.about-button {
  color: rgb(4, 12, 44);
  font-weight: 700;
  font-style: inherit;
  padding: auto;
  font-size: xx-large;
  margin-left: 20px;
  padding-top: 30px;
  font-stretch: ultra-expanded;
}
.about-section {
  margin-left: 20px;
  margin-top: 40px;
  font-size: large;
}
.section {
  color: rgb(122, 122, 122);

  line-height: 150%;
}
.btn {
  outline: none;
  margin-top: 40px;
  padding: 10px;
  padding-left: 38px;
  padding-right: 38px;
  color: white;
  font-size: large;
  background-color: rgb(4, 12, 44);
  border-radius: 2px;
}
