.container {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 0.5fr 0.4fr 1fr;
  gap: 0px 0px;
}
.contact {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 20px;
  color: rgb(4, 12, 44);
  
  font-size: 39px;
  text-decoration: underline;
  text-decoration-color: #f7ca18;
  text-align: center;
}
.content-list {
  display: flex;
  text-align: left;
  font-size: x-large;
  margin-left: 100px;
  gap: 100px;
  color: #ff033e;
}
.reach {
  text-align: center;
  /* margin-left: 400px; */
  font-size: x-large;
  color: rgb(4, 12, 44);
}
