
.head-project {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  color: rgb(4, 12, 44);
  padding-bottom: 2.5rem;
  /* margin-left:90px; */
  font-weight:900;
  font-size: 49px;
  text-decoration: underline;
  text-decoration-color: #f7ca18;
  padding-left: 2rem;
padding-top: 1rem;

}
.project-main {
  display: grid;
  grid-template-columns: auto  auto auto;
  gap:4.5rem;
  padding-left: 1.5rem;

  /* display: flex;
  height: auto;
flex-direction: row;
flex-wrap: wrap;
  color: black;
  font-size: larger;
 margin-top: 2rem;
  justify-content: center;
align-content: center;
padding-left: 2rem;
padding-top: 2rem;
padding-bottom: 0.3rem; */
  /* align-items: center; */
  /* border: solid 1px blue; */
}

.calculator {
  border: rgb(226, 223, 210) 2px solid;
  border-radius: 5px;
  
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  text-align: center;
   padding-bottom: 3.5rem;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
 
  padding-bottom: 2.5rem;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  /* position: absolute; */
  left: 10%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 .text-body{
   color: black;
 }