.project-main {
  display: grid;
  height: 35rem;
  width: 100%;
  color: black;
  font-size: larger;
  margin-top: 2rem;
  /* border: solid 1px blue; */
}
.head-project {
  display: flex;
  color: rgb(4, 12, 44);
  top: 0px;
  font-size: 39px;
  text-decoration: underline;
  text-decoration-color: #f7ca18;
}
.project-item {
  display: grid;
  top: 0px;
  grid-template-rows: 5fr 5fr 5fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
  color: rgb(56, 32, 2);
}

.calculator {
  background-color: #ff1b6b;

}
.calculator {
  background-color: black;
}
.calculator {
  background-color: black;
}
