.skill {
  height: 50rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin: auto;
}
.scene {
  perspective: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 25%;
  background: url('https://cdn-icons-png.flaticon.com/512/143/143655.png');
  background-size: 1% 1%;
  background-position: center;
  background-repeat: no-repeat;
}
.scene:hover {
  transform: scale(1);
}
.scene:hover .side {
  opacity: 10;
}

.cube {
  transform-style: preserve-3d;
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-animation: rotate 10s ease-in-out infinite;
  animation: rotate 10s ease-in-out infinite;
  transform-origin: center center;
}

.side {
  position: absolute;
  width: 120px;
  height: 120px;

  opacity: 1.5;
  background-size: cover;
  background-repeat: no-repeat;
}

.back {
  transform: translateZ(-180px) rotateX(180deg);
  background-image: url(https://cdn-icons-png.flaticon.com/512/143/143655.png);
}

.left {
  transform: translateX(-180px) rotateY(90deg);
  background-image: url(https://www.flaticon.com/free-icon/css-3_5968242);
}

.right {
  transform: translateX(180px) rotateY(90deg);
  background-image: url(https://cdn-icons-png.flaticon.com/128/5968/5968292.png);
}

.top {
  transform: translateY(-180px) rotateX(90deg);
  background-image: url(https://cdn-icons-png.flaticon.com/128/3664/3664988.png);
}

.bottom {
  transform: translateY(180px) rotateX(270deg);
  background-image: url(https://cdn-icons-png.flaticon.com/128/474/474933.png);
}

.front {
  transform: translateZ(180px);
  background-image: url(https://cdn-icons-png.flaticon.com/128/1126/1126012.png);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  12.5% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(270deg);
  }
  37.5% {
    transform: rotateY(270deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  62.5% {
    transform: rotateX(90deg);
  }
  75% {
    transform: rotateX(180deg);
  }
  87.5% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  12.5% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(270deg);
  }
  37.5% {
    transform: rotateY(270deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  62.5% {
    transform: rotateX(90deg);
  }
  75% {
    transform: rotateX(180deg);
  }
  87.5% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
